header {
    display: flex;
    padding: 40px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    

}

header > .fixed-menu {
    position: fixed;
    top: 0;
    background: #e0e7ff;
  
  
}


body {

    background-color: #dcdcdc;
    font-family: "DM Serif Display", serif;
    padding-bottom: 60px; /* ajuste conforme a altura do seu footer */
    
}






header ul {

    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    /* espaço entre os itens */
    list-style: none;
    padding: 0;
}

header>.group-photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

header>.group-photo img {
    width: 160px;
    height: 160px;
    border-radius: 160px;
    /* border: 2px solid black; */
    outline: 5px solid black;

}




main {

    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;


}


main>.about {
    background: linear-gradient(135deg, #e0e7ff 0%, #b6ccfe 100%);
    color: #070707;
    text-align: center;
    grid-column: 1/5;
    margin: 1% 10%;
    border-radius: 10px;
}

.about>.about-description {
    margin: 40px 40px;
    gap: 10px 10px;
    border-radius: 40px;
}

main>.skils {
    grid-column: 1/5;
    margin: 1% 10%;
    
    background: linear-gradient(135deg, #e0e7ff 0%, #b6ccfe 100%);
    border-radius: 10px;
}


main>.skils>.group-skils {

    display: flex;
    justify-content: center;
    margin: 0.5% 10%;
    gap:  5%;
    width: 80%;
    


}

.skils>h2 {
    text-align: center;
}



/* card-java-script */



.java-script>.title-java-script > h2 {

    display: inline;
    text-align: center;
}

.title-java-script  > h2  {
    font-size: 20px;
    text-align: start;

}

.title-java-script> h2 > img  {
    width: 40px;
    
}


/* card - Python */

.python > .title-python {
    display: inline;
    text-align: center;
}

.title-python > h2 > img {
    width: 40px;
}



/* card Eletronicia */

/* card - Python */

.eletronics > .title-eletronics {
    display: inline;
    text-align: center;
}

.title-eletronics > h2 > img {
    width: 60px;
}










/* Suporte - Hablidade */
.group-skils>.suport>.title-suport {
    display: inline;


}

.title-suport>h2 {
    /* border: 2px solid beige; */
    display: flex;
    text-align: center;
}

.title-suport > h2 > img {
    width: 50px;
}

/* main>.instagram { */


/* border: 2px solid black;
    width: 50%;
    height: 60%;
    border-radius: 30px;
    grid-column: 1/1;
    padding: 10px 10px; */

/* fundo */


/* background-color: rgba(20, 48, 97, 1); */
/* background-size: contain; */
/* background-size: cover;
    background-position: center; */



/* coloco o texto a direita, start - esquerda, end - direita  */

/* alinho verticalmente */

/* 
} */






main>.projects {
    grid-column: 1/5;
    margin: 1% 10%;
    
    background: linear-gradient(135deg, #e0e7ff 0%, #b6ccfe 100%);
    border-radius: 10px;
}

.projects > h2 {
    text-align: center;
}


main>.projects >.group-projects {

    display: flex;
    justify-content: center;
    margin: 0.5% 10%;
    gap:  5%;
    width: 80%;
    


}



main > .contact{
    

    grid-column: 1/5;
    margin: 1% 10%;
    
    background: linear-gradient(135deg, #e0e7ff 0%, #b6ccfe 100%);
    border-radius: 10px;
}


.contact > h2 {
    text-align: center;
}

.contact > ul {
    list-style: none;
    padding: 0;
    text-align: start;
}

.contact > ul > li >  img {
    width: 50px;
    justify-content: center;
}


footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}